.tenantsContainer {
  font-family: "proxima-nova", sans-serif;
  margin: 2% 0 0 2%;
  text-transform: capitalize;
}
.tenantsText {
  font-size: 200%;
}
.filterMissedPayment {
  color: #197572;
  font-weight: 700;
}
.tenantShow {
  white-space: nowrap;
}
.search-container {
  width: 8%;
  margin-left: 16%;
}
.SearchIcon {
  margin-left: -16%;
}
.container-fluid.tenants {
  margin-left: 0;
  margin-right: 0;
}

.p1 {
  margin-bottom: -0.1rem;
  white-space: nowrap;
  font-size: 16px;
  opacity: 1;
  font-family: "proxima-nova", sans-serif;
  color: #000000a5;
}
.name {
  padding-right: 8rem;
}
.listings1 {
  padding-right: 1.5rem;
}
.email {
  padding-left: 5rem;
  padding-right: 8rem;
}
.phone {
  padding-right: 9rem;
}
.contract {
  padding-right: 4rem;
}
.bgcheck {
  color: #00000071;
}
.actions {
  margin-left: 1rem;
}
tbody {
  height: 12rem;
}
p{
  height: 32px;
}
.h {
  margin-top: 0.8rem;
  margin-left: 0.5rem;
  color: #000000;
}
.email1 {
  margin-left: -1rem;
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
}

.checkMark {
  margin-left: 5.1rem;
  margin-bottom: -0.9rem;
}
.missed {
  color: red;
}


.hoverableButton {
margin-left: 20px;
}

.imageContainer {
  display: inline-block;
  vertical-align: middle;
}